/* VARIABLES */

:root {
  --accent-color-2: #7b5400;
  --grey-300: #E0E0E0;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

form {
  display:  block;
}

/* FEEDPAGE */
.FeedPage {
  margin: auto;
}

/* ARTICLE */
.ArticleCard {
width: 400px;
border: 4px solid rgb(97, 97, 97);
position: relative;
margin-bottom: 2rem;
}
.author-info {
  display: flex;
  margin-bottom: 2rem;
}
.author-img img{
    width: 35px;
    height: 35px;
    border-radius: 50%;
    border: 2px solid var(--accent-color-2);
    position: relative;
    top: 10px;
}

.article-img img {
  width: 100%;
}

.article-text {
  text-align: left;
  margin: 0rem 1rem 2rem 1rem;
}

.article-interactions {
  display: flex;
  margin-left: 2rem;
}
.article-commands .icon {
  margin-right: 1rem;
}


.article-location {
  background-color: var(--grey-300);
}


/* SEARCH BAR */


.highlightOption, .chip, .multiSelectContainer li:hover {
  background-color: #9333ea !important;
}

nav {
  background-color: transparent;
}